/* ------------------------------------------
 * Base Styles
 * ------------------------------------------ */

body {
  background: $body-bg;
  color: $text-gray;
  font-size: 62.5%; /* Resets 1em to 10px */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 10%);
  }
}
