/* ------------------------------------------
 * Color Variables
 * ------------------------------------------ */

$white: #fff;
$text-gray: #7c7c7c;
$blue: #0091D5;
$black: #000;

$body-bg: $white;
$header-bg: $white;
$link-color: $text-gray;

$step-icon-size: 60px;

$papa-bear: '(max-width: 850px)';
$mama-bear: '(max-width: 800px) and (min-width: 601px)';
$baby-bear: '(max-width: 600px)';

$hamburger-size: 30px;
$hamburger-color: $black;