/* Base */
body {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  -webkit-perspective: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: #644117;
}

a {
  color: #e8a440;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout */
.container {
  width: 960px;
  margin: 0 auto;
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Button */
.btn {
  display: inline-block;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 0 -1px 1px #644117;
  background-color: #e8a440;
  background-image: linear-gradient(#e8a440, #ba8536);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px black;
}

.btn:hover {
  text-decoration: none;
  background-color: #9b6f2e;
  background-image: linear-gradient(#e8a440, #9b6f2e);
}

.btn:active {
  -webkit-transform: translateY(1px);
}

/* Header */
header {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  background-color: #644117;
  font-weight: bold;
  margin-bottom: 40px;
}

  header .logo {
    position: relative;
    font-size: 36px;
    line-height: 56px;
    padding-left: 100px;
  }

  header .logo img {
    position: absolute;
    left: 0;
    -webkit-transform: rotate(-15deg) translateY(-10px);
    -webkit-transition: -webkit-transform .2s ease-out;
  }

  header .logo:hover img {
    -webkit-transform: rotate(-25deg) translateY(-10px);
  }

  header nav {
    float: right;
  }

  header li {
    float: left;
  }

  header li a {
    display: block;
    padding: 20px;
  }

  header li a:hover {
    background-color: #3f2a10;
    color: white;
    text-decoration: none;
  }

/* Inventory */
.inventory {
}

  .inventory li {
    float: left;
    width: 218px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .inventory img {
    max-width: 100%;
    margin-bottom: 10px;
    -webkit-transition: -webkit-transform .2s ease-out;
  }

  .inventory li:hover img {
    -webkit-transform: scale(1.1);
  }

/* Footer */
footer {
  border-top: 1px solid #ccc;
  padding: 20px 0;
  margin-top: 40px;
}

/* Box */
.box {
  -webkit-perspective: 1000px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #644117;
}
  
  .box h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .box ul {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(45deg) rotateY(45deg);
  }

  .box li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background: black;   
    opacity: .6;
    -webkit-backface-visibility: hidden;
  }

  .box li a {
    display: block;
  }

  .box .front {
    background: red;
    -webkit-transform: translateZ(100px);
  }

  .box .back {
    background: orange;
    -webkit-transform: rotateY(180deg) translateZ(100px);
  }

  .box .left {
    background: yellow;
    -webkit-transform: rotateY(-90deg) translateZ(100px);
  }

  .box .right {
    background: green;
    -webkit-transform: rotateY(90deg) translateZ(100px);
  }

  .box .top {
    background: blue;
    -webkit-transform: rotateX(90deg) translateZ(100px);
  }

  .box .bottom {
    background: purple;
    -webkit-transform: rotateX(-90deg) translateZ(100px);
  }


